/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
        2. Remove default margin
      */
* {
    margin: 0;
    padding: 0;
}

/*
        3. Allow percentage-based heights in the application
      */
html,
body {
    height: 100%;
}

/*
        Typographic tweaks!
        4. Add accessible line-height
        5. Improve text rendering
      */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/*
        6. Improve media defaults
      */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
        7. Remove built-in form typography styles
      */
input,
button,
textarea,
select {
    font: inherit;
}

/*
        8. Avoid text overflows
      */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
        9. Remove default list styles
      */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.container {
    max-width: 345px;
    margin: 0 auto;
}


h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.pLarge {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01px;
    color: #5F6D7E;
}

.pSmall {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01px;
    color: #5F6D7E;
}
.hero{
    background: #F8F9FB;
}
.hero h1{
    margin-bottom: 24px;
}
.heroImage{
    padding-top: 32px;
    margin-bottom: 34px;
}
.heroLists{
    margin-bottom: 32px;
}
.heroList{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.heroInput{
    width: 343px;
    border: 1px solid #DAE0E6;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 12px 16px;
}
::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: #919BA7;
    

  }
.heroButton{
    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    padding: 12px 148px;
    border: 0;
    margin-bottom: 8px;
}
.heroButton a{
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}
.heroContainer .pSmall{
    padding-bottom: 40px;
}
.featureContainer .pSmall{
    margin-bottom: 32px;
}
.featureLists{
    margin-bottom: 32px;
}
.featureList{
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.featureImages{
    margin-bottom: 32px;
}
.featureButton{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    border: 0;
    padding: 12px 32px;
}
.featureButton a{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFF;
}

/*-------------------------------------------------------------*/
/*-------------------- Global Settings End --------------------*/
/*-------------------------------------------------------------*/

/* ------------- */
/* Mobil version */
/* ------------- */


/*-------------------- Navbar --------------------*/

nav ul {
    display: none;
}

.navbarContainer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F8F9FB;
}


.checkbtn {
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked~ul {
    display: block;
    position: absolute;
    left: 0;
}

.navbarButtons {
    display: none;
}

@media screen and (max-width:1024px) and (min-width: 768px) {

    /* ------------- */
    /* Tablet version */
    /* ------------- */
    .container {
        max-width: 704px;
        margin: 0 auto;
    }

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 60px;
        letter-spacing: -0.01em;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        margin-bottom: 16px;
        text-align: center;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.01em;
        margin-bottom: 24px;
    }

    h5 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.01em;
    }
    .heroImage{
        margin: 0 auto;
    }
    .heroInput{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .heroButton{
        padding: 12px 18px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -4px;
    }

    /*-------------------------------------------------------------*/
    /*-------------------- Global Settings End --------------------*/
    /*-------------------------------------------------------------*/

}

@media screen and (min-width: 1024px) {

    /* ------------- */
    /* Masaüstü version*/
    /* ------------- */
    .container {
        max-width: 1215px;
        margin: 0 auto;
    }

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 52px;
        line-height: 60px;
        letter-spacing: -0.01em;
    }

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        margin-bottom: 16px;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.01em;
        margin-bottom: 16px;
    }

    h5 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.01em;
    }
   .heroGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
   .heroGridItem2{
        grid-area: 1/1/2/2;
   }
   .heroInput{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
   }
    .heroButton{
        padding: 12px 18px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -4px;
    }
    .heroContainer .pSmall{
        display: none;
    }   
    /*-------------------------------------------------------------*/
    /*-------------------- Global Settings End --------------------*/
    /*-------------------------------------------------------------*/


    /*-------------------- Navbar --------------------*/

    .hamburger {
        display: none;
    }

    .navbarContainer {
        gap: 69px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
    }

    .navbarContainer ul {
        display: flex;
        align-items: center;
        margin-right: auto;
        gap: 32px;
    }


    .navbarContainer ul a:nth-child(3) li {
        display: flex;
        gap: 12px;
    }

    .navbarButtons {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .navbarButtons a:first-child {
        color: #437EF7;
    }

    .navbarButtons a:last-child {
        background-color: #437EF7;
        padding: 12px 18px;
        border-radius: 6px;
        color: #FFFFFF;
    }


}